html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.bg-holder {
  width: 100%;
  height: 100%;
}

.bg-holder#pic1 {
  background-image: url('../img/background/info_bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
 background-attachment: fixed;
}

.bg-holder#pic2 {
  background-image: url('../img/background/info_bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 75vh;
}

.bg-holder#pic3 {
    background-image: url('../img/background/info_bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
   height: 75vh;
  }

  .bg-holder#pic4 {
    background-image: url('../img/background/info_bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
   height: 75vh;
  }

  .bg-holder#pic5 {
    background-image: url('../img/background/info_bg5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
   height: 75vh;
  }

  .bg-holder#pic6 {
    background-image: url('../img/background/info_bg7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
   height: 75vh;
  }

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-15px);
        letter-spacing: 6px;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        letter-spacing: 5px;
    }
}

.title {
    font-size: 5rem;
    color: rgb(218, 218, 218);
    letter-spacing: 5px;
    animation: appear ease-out 0.7s;
}

.user {
   
    padding: 50px 0;
    /* background-color: wheat; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.user__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user__img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-right: 30px;
}

.user__name {
    font-size: 3.2rem;
    margin: 10px 0 0 0;
    color:rgb(36, 36, 36);
}

.user__position {
    font-size: 2rem;
    color: #333;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.section {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 40px;
    color: rgb(49, 49, 49);
}

.section-text1 {
    margin: 40px 0;
   
}

.content__title {
    font-size: 4rem;
    color: rgb(218, 218, 218);
    letter-spacing: 3px;
}

.section-text2 {
    margin: 20px 0;
    padding: 40px 20%;
    text-align: justify;
    
}

.section-text3 {
    padding: 50px 10% 50px 20%;
}

.section-text4 {
    padding: 50px 20%;
}

.section-text5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.software {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 40px;
    min-width: 200px;
}

.software__img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.software__name {
    cursor: default;
    transition: ease-in-out 0.3s;
}

.software__name:hover {
    letter-spacing: 2.5px;
}

.section-text6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.contact {
    padding: 0 40px;
    border-right: 1px solid rgb(167, 167, 167); 
    position: relative;  
}

.contact:last-child {
    border-right: unset;
}

.contact__icon {
    color: #333;
    margin-right: 5px;
}

.contact__img {
    height: 19px;
    width: 16px;
    border-radius: 2px;
    transform: translateY(3px);
    margin-right: 5px;
}





/* RESPONSIVE -----------------------------*/

@media (max-width: 500px) {
    .title {
        font-size: 2.7rem;
        color: rgb(230 230 230);
    }

    .user {
        flex-direction: column;
        justify-content: center;
    }

    .user__img {
        margin: 0;
    }
    
    .user__text {
        align-items: center;
    }

    .user__position {
        line-height: 34px;
        text-align: center;
    }

    .content__title {
        font-size: 2.5rem;
    }

    .section-text1, .section-text2 {
        padding: 40px 8%;
    }

    .section-text3, .section-text4 {
        padding: 40px 8%;
    }

    .software {
        width: 50%;
        margin: 0 0 30px 0;
        min-width: unset;
    }

    .section-text5 {
        flex-wrap: wrap;
    }

    .software__img {
        width: 50px;
        height: 50px;
        margin-bottom: 0px;
    }

    .section {
        font-size: 1.7rem;
    }

    .section-text6 {
        flex-direction: column;
    }

    .contact {
        border-right: unset;
        border-bottom: 1px solid rgb(167, 167, 167);
        width: 281px;
        padding: unset;
        margin-bottom: 10px;
    }

    .contact:last-child {
        margin-bottom: 0;
        border: none;
    }

    .section {
        background-color: rgb(255, 255, 255);
    }

    .user__name {
        font-size: 2.2rem;
    }

    .user__position {
        font-size: 1.5rem;
        line-height: 20px;
    }

    .software__name {
        font-size: 1.3rem;
    }

    .contact__img {
        height: 15px;
        width: 14px;
        margin-left: -1px;
    }
}