
* {
    box-sizing: inherit;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: initial;
    
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Hind;
    src: url(../fonts/HindSiliguri-Regular.ttf);
}

@font-face {
    font-family: Hind_bold;
    src: url(../fonts/HindSiliguri-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand_bold;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

:root {
    --primary-color: #094566;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        transform: translateY(-2%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear9 {
    from {
        opacity: 0;
        transform: translateY(-6%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear3 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear3-1 {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear4-1 {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear5 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scrollLeft {
    form {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scrollRight {
    form {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



/* Home */

.home__container {
    width: 100%;
    height: 100vh;
    background-image: url(../img/home_bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    will-change: transform opacity;
    
}

.home__title {
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: rgb(184, 184, 184);
    animation: appear ease-out 0.7s;
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.home__btn {
    display: flex;
    justify-content: space-around;
    width: 40%;
    flex-wrap: wrap;
    margin: 0 auto;

    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.home__btn :nth-child(1) {
    animation: appear4 ease-out 0.7s;
}

.home__btn :nth-child(2) {
    animation: appear5 ease-out 0.7s;
}

.home__btn :nth-child(3) {
    animation: appear3 ease-out 0.7s;
}

.home__link {
    background-color: rgba(225, 225, 225, 0.5);
    color: #4b0606;
    font-weight: bolder;
    padding: 15px 0;
    margin: 0 20px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 50px;
    min-width: 150px;
    text-align: center;
    transition: ease-in-out 0.2s;
    letter-spacing: 1px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.home__link:hover {
    background-color:  rgba(97, 29, 57, 0.8);
    color: #c9c9c9;
    letter-spacing: 3px;
    font-weight: lighter;

}




/* Info */

/* .info__container {
    width: 100%;
     min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/info_bg.png);
    background-size: cover;
    background-attachment: fixed;    
}

.info__heading {
    width: 100%;
    position: relative;
}

.info__title {
    color: rgb(224, 224, 224);
    text-align: center;
    display: block;
    padding: 40px 0;
    font-size: 3.5rem;
    cursor: default;
    animation: appear2 ease-in-out 0.5s;
} */

.info__back {
    position: fixed;
    top: 22px;
    left: 22px;
    border-radius: 10px;
}

.info__back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(224, 224, 224);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2rem;
    border-radius: 6px;
    transition: ease-in-out 0.2s;
    opacity: 0.2;
}

.info__back-link:hover {
    opacity: 0.8;
}





/* Portfolio */

.port__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/port_bg.png) ; 
    background-size: cover;
    background-attachment: fixed;
}

.port__heading {
    padding: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    /* background-color: #040117; */
    background-image: url(../img/port_bg.png);
    background-size: cover;
}

.port__navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 1000px;
    animation: appear2 ease-in-out 0.5s;
    scroll-behavior: smooth;
}

.port__navbar-list::-webkit-scrollbar {
    display: none;
}

.port__navbar-item {
    font-size: 2rem;
    color: rgb(219, 219, 219);
    cursor: pointer;
    transition: ease-in-out 0.3s;
    width: 170px;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: center;
}

.port__navbar-item:hover {
    letter-spacing: 3px;
}

.port__navbar-item.active {
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    color: rgb(125, 149, 228);
}










.port__navbar-title {
    font-size: 3rem;
    margin: 0px 0 35px 0;
    color: rgb(96, 127, 230);
    animation: appear2 ease-in-out 0.5s;
}

.port__body {
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    padding: 50px 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: appear2 ease-in-out 0.5s;
}

.port__body-content {
    background-color: #1f1f1f;
    margin: 3.5%;
    box-shadow: 5px 5px 10px #111;
    animation: appear9 ease-out 0.3s;
}



.port__body-content.size1 {
    width: 42.5%;
    height: 450px;
}

.port__body-content.size2 {
    width: 100%;
    height: 450px;
}

.portfolio-product {
    width: 100%;
    height: 100%;
}

.port__body-content.mobile {
    display: none;
}


/* Data-filter sản phẩm ---------------------------------*/


/* .port__body-content{
    display: none;
} */


.port__body-content.hide {
    display: none !important;
}

/* .port__body-content.active {
    display: block;
} */
