
* {
    box-sizing: inherit;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: initial;
    
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Hind;
    src: url(../fonts/HindSiliguri-Regular.ttf);
}

@font-face {
    font-family: Hind_bold;
    src: url(../fonts/HindSiliguri-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand_bold;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Baumans;
    src: url(../fonts/Baumans-Regular.ttf);
}

@font-face {
    font-family: Iceberg;
    src: url(../fonts/Iceberg-Regular.ttf);
}

@font-face {
    font-family: Barlow-light;
    src: url(../fonts/Barlow-Light.ttf);
}

@font-face {
    font-family: Barlow-extralight;
    src: url(../fonts/Barlow-ExtraLight.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Medium.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../fonts/Raleway-Bold.ttf);
}


@font-face {
    font-family: Baloo-light;
    src: url(../fonts/BalooBhaijaan2-Regular.ttf);
}

@font-face {
    font-family: Baloo;
    src: url(../fonts/BalooBhaijaan2-Medium.ttf);
}








@keyframes appear3 {
    0% {
        opacity: 0%;
        transform: translateX(-70%);
        color: rgb(255, 0, 212);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        /* color: rgb(95, 95, 95); */
        color: rgb(0, 105, 131);


    }
}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(70%);
        color: rgb(255, 0, 212);
        
    }
    to {
        opacity: 1;
        transform: translateX(0);
        /* color: rgb(95, 95, 95); */
        color: rgb(0, 116, 145);


    }
}



@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-100px) translateY(60px);
    }
    50% {
        opacity: 1;
        transform: translateX(12px) translateY(60px);
    }
    70% {
        opacity: 1;
        transform: translateX(12px) translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateX(12px) translateY(0px);
    }
}

@keyframes chopchopdot {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Home */

.home__container {
    width: 100%;
    height: 100vh;
    /* background-color:rgb(14, 14, 14); */
    background-image: url(../img/Background/new-background.png);
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title {
    font-size: 5rem;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    animation: slide ease-in-out 0.5s forwards;
    /* animation: appear ease-out 0.7s; */
    font-family: Raleway-bold;
    text-transform: uppercase;
    letter-spacing: 38px;
}


.home__btn {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;
    user-select: none;
    -webkit-user-select: none;
    /* background-color: blanchedalmond; */
    -webkit-tap-highlight-color: transparent;
}

.home__link1 {
    position: relative;
    opacity: 0;
    animation: appear4 ease-out 0.45s 0.3s forwards;
}

.dot {
    position: absolute;
    border: solid;
    border-width: 5px 7px;
    border-color: transparent transparent  transparent rgb(155, 155, 155);
    top: 48%;
    transform: translateY(-50%);
    left: -5px;
    display: none;  
    animation: chopchopdot linear 1s infinite;
}

.home__link2 {
    position: relative;
    opacity: 0;
    animation: appear3 ease-out 0.45s 0.3s forwards;
}


.home__link1,.home__link2 {
    /* background-color: rgba(225, 225, 225, 0.5); */
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 15px 10px;
    margin: 0 20px;
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: 50px;
    min-width: 120px;
    text-align: center;
    transition: ease-in-out 0.2s;
    letter-spacing: 1px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: Baloo;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

.home__link1:hover, .home__link2:hover {
    /* background-color:  rgba(97, 29, 57, 0.8); */
    color: rgb(0, 204, 255) !important;

    letter-spacing: 5px;
    font-weight: lighter;
}

.home__link1:hover .dot{
    display: block;
    transition: ease-out 0.2s;
}

.home__link2:hover .dot{
    display: block;
    transition: ease-out 2s;
}
















