
* {
    box-sizing: inherit;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: initial;
    
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Hind;
    src: url(../fonts/HindSiliguri-Regular.ttf);
}

@font-face {
    font-family: Hind_bold;
    src: url(../fonts/HindSiliguri-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand_bold;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Baumans;
    src: url(../fonts/Baumans-Regular.ttf);
}

@font-face {
    font-family: Iceberg;
    src: url(../fonts/Iceberg-Regular.ttf);
}

:root {
    --primary-color: #094566;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        transform: translateY(-2%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear9 {
    from {
        opacity: 0;
        transform: translateY(-6%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear3 {
    0% {
        opacity: 0%;
        transform: translateX(-70%);
        color: blue;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        color: rgb(82, 82, 82);
    }
}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(70%);
        color: blue;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        color: rgb(82, 82, 82);
    }
}

@keyframes appear3-1 {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear4-1 {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear5 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scrollLeft {
    form {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scrollRight {
    form {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes chopchop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 90%;
    }
    10% {
        opacity: 3%;
    }
    15% {
        opacity: 95%;
    }
    20% {
        opacity: 3%;
    }
    
    
    100% {
        opacity: 100%;
    }
}

@keyframes chopchopdot {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Home */

.home__container {
    width: 100%;
    height: 100vh;
    background-color:rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title {
    font-size: 2.3rem;
    margin-bottom: 30px;
    color: rgb(155, 155, 155);
    animation: chopchop ease-in-out 2s;
    /* animation: appear ease-out 0.7s; */
    font-family: Iceberg;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.home__btn {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;
    user-select: none;
    -webkit-user-select: none;
    /* background-color: blanchedalmond; */
    -webkit-tap-highlight-color: transparent;
}

.home__link1 {
    position: relative;
    opacity: 0;
    animation: appear4 ease-out 0.8s 1s forwards;
}

.dot {
    position: absolute;
    border: solid;
    border-width: 5px 7px;
    border-color: transparent transparent  transparent rgb(155, 155, 155);
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    display: none;  
    animation: chopchopdot linear 1s infinite;
}

.home__link2 {
    position: relative;
    opacity: 0;
    animation: appear3 ease-out 0.8s 1s forwards;
}


.home__link1,.home__link2 {
    /* background-color: rgba(225, 225, 225, 0.5); */
    color: rgb(82, 82, 82);
    font-weight: bolder;
    padding: 15px 10px;
    margin: 0 20px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 50px;
    min-width: 120px;
    text-align: center;
    transition: ease-in-out 0.2s;
    letter-spacing: 1px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: Iceberg;
    /* font-family: Baumans; */
    font-weight: lighter;
    letter-spacing: 2px;
}

.home__link1:hover, .home__link2:hover {
    /* background-color:  rgba(97, 29, 57, 0.8); */
    color: rgb(155, 155, 155) !important;
    letter-spacing: 5px;
    font-weight: lighter;
}

.home__link1:hover .dot{
    display: block;
    transition: ease-out 0.2s;
}

.home__link2:hover .dot{
    display: block;
    transition: ease-out 2s;
}
















