


 /* MÀN HÌNH MOBILE 500px ----------------*/

    @media (max-width: 500px) {

    /* Home-------------*/

        .home__title {
            font-size: 1.5rem;
            letter-spacing: 6px;
            margin-bottom: 20px;
        }

        .home__link1, .home__link2 {
            font-size: 1.8rem;
            margin: 0 15px;
        }

        .home__btn {
            width: 90%;
        }

        .home__link1 {
            animation: appear4 ease-out 0.4s 1s forwards;
        }

        .home__link2 {
            animation: appear3 ease-out 0.4s 1s forwards;
        }





     /* Info-------------*/

     .infor__selection {
         width: 40px;
         height: 40px;
         border: 1px rgb(66, 66, 66) solid;
         top: 20px;
         right: 20px;
         z-index: 5;
         left: unset;
         transition: ease-out 0.2s;
         padding: unset;
         background-color: rgb(14, 14, 14);
     }

     .infor__selection::after {
         content: "...";
         position: relative;
         color: rgb(155, 155, 155);

         width: 38px;
         height: 40px;
         /* border: 1px solid red; */
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 2.7rem;
     }
   

     .infor__selection span {
         display: none;
     }

     @keyframes menu {
         from {
             transform: translateX(100%);
         }
         to {
            transform: translateX(0);
        }
     }

     .infor__selection ul {
        background-color: rgb(14, 14, 14);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         position: absolute;
         top: -20px;
         padding-left: 20px;
         right: -20px;
         border-left: 1px solid rgb(30, 23, 56);
         /* border-bottom: 1px solid rgb(92, 92, 92); */
        height: 100vh;
        margin-top: 0;
        animation: menu ease-out 0.2s ;
       
        display: none;
        
     }

     
.selection__item:nth-child(1) a{
    opacity: 1;
    animation: unset;
}

.selection__item:nth-child(2) a{
    opacity: 1;
    animation: unset;
}

.selection__item:nth-child(3) a{
    opacity: 1;
    animation: unset;
}

.selection__item:nth-child(4) a{
    opacity: 1;
    animation: unset;
}

.selection__item:nth-child(5) a{
    opacity: 1;
 animation: unset;
}

     .infor__selection ul::before {
         content: "";
         width: 180px;
         height: 30px;
         /* background-color: red; */
         position: absolute;
         top: -11%;
         right: 0;
     }

     .infor__selection:hover ul {
         display: flex;
 
     }

     .infor__content {
         width: 100%;
         right: unset;
         left: 0;
         padding-top: 115px;

     }

     .infor_content-part {
         padding: 0 40px 0 40px;
     }

     .content__content {
        margin-top: 30px;
        display: block;
        
    }

    .content__apps {
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 0 10px;
    }

    .apps {
        margin: 15px 10px;
    }

    .content__contact {
        margin-bottom: 25px;
    }

    #gioithieu:target {
        padding-top: 12rem;
    }
    
    #hocvan:target {
        padding-top: 12rem;
    }
    
    #kinhnghiem:target {
        padding-top: 12rem;
    }
    
    #phanmem:target {
        padding-top: 12rem;
    }
    
    #lienhe:target {
        padding-top: 12rem;
    }







    /* Port-------------*/

    #bangron:target {
        padding-top: 12rem;
    }
    
    #danhthiep:target {
        padding-top: 12rem;
    }
    
    #menu:target {
        padding-top: 12rem;
    }
    
    #voucher:target {
        padding-top: 12rem;
    }
    
    #mauve:target {
        padding-top: 12rem;
    }


    
    .port__selection {
        width: 40px;
        height: 40px;
        border: 1px rgb(66, 66, 66) solid;
        top: 20px;
        right: 20px;
        z-index: 5;
        left: unset;
        transition: ease-out 0.2s;
        padding: unset;
        background-color: rgb(14, 14, 14);
        /* background-color: red; */
    }

    .port__selection::after {
        content: "...";
        position: relative;
        color: rgb(155, 155, 155);

        width: 38px;
        height: 40px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.7rem;
    }


    .port__selection span {
        display: none;
    }

    .port__selection ul {
        background-color: rgb(14, 14, 14);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         position: absolute;
         top: -20px;
         padding-left: 20px;
         right: -20px;
         border-left: 1px solid rgb(30, 23, 56);
         /* border-bottom: 1px solid rgb(92, 92, 92); */
        height: 100vh;
        margin-top: 0;
        animation: menu ease-out 0.2s ;
       
        display: none;
        
     }



     .port__selection ul::before {
        content: "";
        width: 180px;
        height: 30px;
        /* background-color: red; */
        position: absolute;
        top: -11%;
        right: 0;
    }

    .port__selection:hover ul {
        display: flex;

    }

    .port__content {
        width: 100%;
        right: unset;
        left: 0;
        padding-top: 115px;

    }

    .port_content-part {
        padding: 0 40px 0 40px;
    }







    }